.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 4fr 1fr;
}

.input-section {
    background-color: #00ffff;
    padding: 2rem;
}

.evaluation-section {
    background-color: brown;
	padding: 2rem
}

.test {
    background-color: #9c97cb;
    padding: 2rem;
}